<div class="scroll-container">
    <form class="level-wizard-form">
        <header class="level-wizard-header">
            {{!-- TODO: Make the level display prettier and include tier if it changes --}}
            <h2>{{localize "cosmere-level-wizard.Title"}}</h2>
            <p class="level-info">
                {{localize "cosmere-level-wizard.LevelingUp"}}
                <strong>{{actor.system.level}}</strong> -> <strong>{{newLevel}}</strong>
            </p>
        </header>
        {{#if advancementData.attributePoints}}
            {{> attribute-increase}}
        {{/if}}
        {{!-- TODO: Add ability to display or choose options from attribute increase --}}
        {{#if (eq newLevel 1)}}
            {{> secondary-all}}
        {{else}}
        {{#if advancementData.attributePoints}}
            {{> secondary-some}}
        {{/if}}
        {{/if}}

        {{#if health}}
            {{> health-increase}}
        {{/if}}

        {{#if advancementData.skillRanksOrTalents}}
            {{> choose-skill-or-talent}}
        {{/if}}

        {{#if advancementData.skillRanks}}
            {{> skill-increase skillRanks=advancementData.skillRanks}}
        {{/if}}

        {{#if advancementData.talents}}
            {{> talent-selection talents=advancementData.talents talentsRemaining=talentsRemaining}}
        {{/if}}

        {{#if ancestryBonusTalents}}
            {{> talent-selection ancestryBonusTalentsBool=true talents=advancementData.talents talentsRemaining=ancestryBonusTalents}}
        {{/if}}

        <footer class="form-footer flexrow">
            <button type="submit" class="submit-button {{#unless (levelComplete this)}}disabled{{/unless}}" data-action="submit">
                {{localize "cosmere-level-wizard.LevelUp"}}
            </button>
        </footer>
    </form>
</div>
