<form class="level-wizard-form">
    <header class="level-wizard-header">
        <h2>{{localize "cosmere-level-wizard.Title"}}</h2>
        <p class="level-info">
            {{localize "cosmere-level-wizard.LevelingUp"}}
            <strong>{{actor.system.level}}</strong> -> <strong>{{newLevel}}</strong>
        </p>
    </header>
    {{#if advancementData.attributePoints}}
        {{> attribute-increase}}
    {{/if}}

    {{#if health}}
        {{> health-increase}}
    {{/if}}

    {{#if advancementData.skillRanksOrTalents}}
        {{> choose-skill-or-talent}}
    {{/if}}

    {{#if advancementData.skillRanks}}
        {{> skill-increase}}
    {{/if}}

    {{#if advancementData.talents}}
        {{> talent-selection}}
    {{/if}}

    {{#if ancestryBonusTalents}}
        {{> talent-selection ancestryBonusTalentsBool = true}}
    {{/if}}

    <footer class="form-footer">
        <button type="button" class="cancel-button" data-action="cancel">
            {{localize "cosmere-level-wizard.Cancel"}}
        </button>
        <button type="submit" class="submit-button" data-action="submit">
            {{localize "cosmere-level-wizard.LevelUp"}}
        </button>
    </footer>
</form>
