<form class="level-wizard-form">
    <div class="scroll-container">
        <header class="level-wizard-header">
            {{!-- TODO: Make the level display prettier and include tier if it changes --}}
            <h2>{{localize "cosmere-level-wizard.Title"}}</h2>
            <p class="level-info">
                {{localize "cosmere-level-wizard.LevelingUp"}}
                <strong>{{actor.system.level}}</strong> -> <strong>{{newLevel}}</strong>
            </p>
        </header>
        {{#if advancementData.attributePoints}}
            {{> attribute-increase}}
        {{/if}}
        {{!-- TODO: Add ability to display or choose options from attribute increase --}}

        {{#if health}}
            {{> health-increase}}
        {{/if}}

        {{#if advancementData.skillRanksOrTalents}}
            {{> choose-skill-or-talent}}
        {{/if}}

        {{#if advancementData.skillRanks}}
            {{> skill-increase}}
        {{/if}}

        {{#if advancementData.talents}}
            {{> talent-selection}}
        {{/if}}

        {{#if ancestryBonusTalents}}
            {{> talent-selection ancestryBonusTalentsBool = true}}
        {{/if}}

        <footer class="form-footer flexrow">
            <button type="submit" class="submit-button {{#unless (levelComplete this)}}disabled{{/unless}}" data-action="submit">
                {{localize "cosmere-level-wizard.LevelUp"}}
            </button>
        </footer>
    </div>
</form>
