<div class="mod">
    {{!-- TODO: Add Attribute Increases to modifier changes --}}
    <span class="operator">+</span>
    {{#with (levelingGetFromKey @root.choices.skills skill.id) as |skillChoiceCount|}}
    {{#if (gt (skillChoiceCount) 0)}}
    <span class="val choice">{{add (derived ../skill.mod) skillChoiceCount}}</span>
    {{else}}
    <span class="val">{{derived ../skill.mod }}</span>
    {{/if}}
    {{/with}}
</div>
<a class="name">
    <span>{{ localize skill.label }}</span>
</a>
<div class="attribute">
    <span>{{ localize skill.attributeLabel}}</span>
</div>

{{#if pips}}
    <div class="skill-pips ranks">
        <a data-tooltip="{{localize "COSMERE.Actor.Sheet.Skills.AdjustTooltip" skill=(localize skill.label)}}">
        <ul class="pip-list">
            {{!-- Existing pips --}}
            {{#each (numberRange skill.rank)}}
                <li class="pip active">
                    <div data-action="adjust-skill-rank" data-index='{{@index}}'></div>
                </li>
            {{/each}}

            {{#with (levelingGetFromKey @root.choices.skills skill.id) as |skillChoices|}}
            {{!-- Chosen pips --}}
            {{#each (numberRange skillChoices)}}
                <li class="pip choice">
                    <div data-action="adjust-skill-rank" data-index='{{add @index ../../skill.rank}}'></div>
                </li>
            {{/each}}

            {{!-- Unselected Pips --}}
            {{#each (numberRange (sub 5 (add ../skill.rank skillChoices)))}}
                <li class="pip{{#if (gt (add (add (add @index 1) skillChoices) ../../skill.rank) @root.maxSkillRanks)}} locked{{/if}}">
                    <div data-action="adjust-skill-rank" data-index='{{add (add @index skillChoices) ../../skill.rank}}'></div>
                </li>
            {{/each}}

            {{/with}}

        </ul>
        </a>
    </div>
{{/if}}
